=================================
Run commands
---------------------------------

> npm install
> npm run start

Use following code snippet to setup Mysql db (Make sure that the username and password are both set to root)
---------------------------------

> CREATE DATABASE mydb
> CREATE TABLE `mp`.`temp` (
  `idtemp` INT NOT NULL AUTO_INCREMENT,
  `fname` VARCHAR(45) NOT NULL,
  `lname` VARCHAR(45) NOT NULL,
  `rollNo` VARCHAR(45) NOT NULL,
  `email` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idtemp`),
  UNIQUE INDEX `email_UNIQUE` (`email` ASC) VISIBLE,
  UNIQUE INDEX `rollNo_UNIQUE` (`rollNo` ASC) VISIBLE);

App running on localhost:3000
=================================