.App {
  text-align: start;
}

.color-nav {
  background-color: black;
}

.bg-black{
  background-color: black;
}

#file {
  height: 43px;
}

.breadcrumb-color {
  background-color: white;
}

.btn-color {
  color: white;
  background-color: black;
  border-color: black;
}

.bg_fixed {
  background-image: url(./images/background.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.bg_relative {
  background-image: url(./images/background.jpg);
  /* position: fixed; */
  /* overflow-y: scroll; */
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadow-white{
  box-shadow: 0px 0px 20px white;
}

.text-small {
  font-size: 70%;
}

/* GREEN COLOUR CODE: 31BF31 */

body {
	background: darkslategray;
}
.rotating-box {
	width: 300px;
	height: 300px;
	margin: 10px auto;
	perspective: 800px;
}
.single-rb {
	width: 300px;
	height: 300px;
	animation: rotate 15s linear infinite;
	transform-style: preserve-3d;
	margin-top: 120px;
}
.single-rb img {
	height: 300px;
	width: 300px;
}
.single-rb div {
	position: absolute;
	width: 300px;
	height: 300px;
}
.front-side {
	transform: translateZ(200px);
}
.back-side {
	transform: rotateY(180deg) translateZ(100px);
}
.left-side {
	transform: rotateY(-90deg) translateX(-100px);
	transform-origin: left;
}
.right-side {
	transform: rotateY(90deg) translateX(100px);
	transform-origin: right;
}
.top-side {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top;
}
.bottom-side {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom;
}
@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
